@import "reset";
@import "./themes/dark";
@import "./themes/light";
@import "./variables/global";
@import "./variables/fonts";

.app {
    font: var(--font-M);

    background: var(--bg-color);
    color: var(--primary);

    min-height: 100vh;
}