@import "reset";
@import "./themes/dark";
@import "./themes/light";
@import "./variables/global";
@import "./variables/fonts";

body {
    font: var(--font-M);
    background: var(--bg-color);
    color: var(--primary);
}

.app {
    min-height: 100vh;
}

.page-content {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
}
