:root {
    --font-family-main: roboto regular, "Arial", sans-serif;
    --font-size-M: 16px;
    --font-line-M: 24px;
    --font-M: var(--font-size-M) / var(--font-line-M) var(--font-family-main);
    --font-size-L: 24px;
    --font-line-L: 32px;
    --font-L: var(--font-size-L) / var(--font-line-L) var(--font-family-main);
    --font-size-XL: 32px;
    --font-line-XL: 40px;
    --font-XL: var(--font-size-XL) / var(--font-line-XL) var(--font-family-main);
    --navbar-height: 75px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
}
