// Button main class

.button {
    cursor: pointer;
    color: var(--primary);
    padding: 8px 15px;
}

// Button props

.square {
    padding: 0;

    &.sizeM {
        width: var(--font-line-M);
        height: var(--font-line-M);
    }

    &.sizeL {
        width: var(--font-line-L);
        height: var(--font-line-L);
    }

    &.sizeXL {
        width: var(--font-line-XL);
        height: var(--font-line-XL);
    }
}

.disabled {
    opacity: 0.8;
}

.withLoader {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        margin-right: 5px;
        animation: loader-spin 1s infinite steps(8);
    }
}

// Button themes

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    background: none;
    border: 1px solid var(--primary);
}

.background {
    background: var(--bg-color);
    color: var(--primary);
    border: 0;
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--success);
    border: 0;
}

// Button sizes

.sizeM {
    font-size: var(--font-size-M);
}

.sizeL {
    font-size: var(--font-size-L);
}

.sizeXL {
    font-size: var(--font-size-XL);
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}
