.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: 300px;
    background-color: var(--inverted-bg-color);
    position: relative;
    transition: width 0.4s;
}

.collapseSwitcher {
    position: absolute;
    right: -32px;
    bottom: 32px;
    border-radius: 0 4px 4px 0;
}

.links {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.switchers {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;

    button ~ button {
        margin-left: 15px;
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;

        button {
            margin-left: 0;
        }
    }
}
