.inputWrapper {
    position: relative;
    padding-top: 15px;
    margin-bottom: 20px;
}

.placeholder {
    position: absolute;
    left: 15px;
    top: 23px;
    color: var(--info);
    cursor: text;
    pointer-events: none;
    transition: transform 0.25s;
}

.input {
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 12px;
    background-color: var(--inverted-bg-color);
    color: var(--inverted-text-color);
    padding: 8px 18px;

    &::placeholder {
        opacity: 0;
    }

    &:focus ~ .placeholder,
    &:not(:placeholder-shown) ~ .placeholder {
        transform: translate(-20px, -23px) scale(0.75);
        background-color: var(--bg-color);
        border-radius: 10px;
        padding: 0 10px;
    }
}
