body.light {
    --bg-color: #efedf3;
    --inverted-bg-color: #292e39;
    --primary: #3fdeb2;
    --secondary: #b9c2c2ed;
    --success: #63c2a4;
    --info: #5db7e3;
    --warning: #e8ac35;
    --danger: #f15151;
    --light: #f9f9fa;
    --dark: #384042;
}
