.link {
    display: flex;
    align-items: center;

    &:not(:first-child) {
        margin-top: 10px;
    }
}

.linkText {
    opacity: 1;
    transition: opacity 0.4s;
}

.icon {
    fill: var(--bg-color);
    margin-right: 15px;
}

.link.collapsed {
    justify-content: center;
    align-items: normal;
}

.collapsed {
    .linkText {
        display: none;
        opacity: 0;
        transition: opacity 0.2s;
    }

    .icon {
        margin-right: 0;
    }
}
