.navbar {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--inversed-bg-color);
}

.navbarBtn {
  & ~ & {
    margin-left: 15px;
  }

  &:last-child {
    margin-right: 20px;
  }
}
